@media all and (min-width: 768px) {
    html, body
    {
        position: fixed;
        top: 0px;
        left: 0px;

        width: 100%;
        height: 100%;
        min-width: 811px;
        margin: 0;

        overflow: hidden;

        display: flex;
        flex-direction: row;

        background-color: #646470;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: white;
    }

    #left_column
    {
        width: 30%;
        height: 100%;
        min-width: 200px;
        display: flex;
        flex-direction: column;
        align-items: space-between;
        background-color: #1d1f27;
    }

    header
    {
        width: 100%;
        height: 100%;
        min-height: 80px;
        max-height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    #img_title {
        width: 80%;
        max-width: 300px;
        height: auto;
        padding: 10px;
    }

    #google_map_box
    {
        width: 100%;
        height: 100%;
        min-height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    #map
    {
        height: 90%;
        width: 90%;
        max-height: 400px;
        border: 5px solid  #646470;
        border-radius: 10px;
    }

    footer
    {
        width: 100%;
        height: 100%;
        min-height: 50px;
        max-height: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: end;
    }

    #github
    {
        width: 100%;
        height: min-content;
        max-height: 60px;
        min-height: 20px;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        font-size: 16px;
        text-align: center;
    }

    #logo_github
    {
        height: 100%;
        width: 100%;
    }

    .logo_box
    {
        width: 20px;
        height: 20px;

        margin-right: 10px;
    }

    .zoom 
    {
        width: 50px;
        height: 50px;

        margin-right: 10px;
    }
    #on_gh
    {
        height: 16px;
        margin: 0;
    }
    #end
    {
        height: 16px;
        width: 100%;

        text-align: center;

        margin: 0;
        margin-bottom: 10px;
    }

    #right_column
    {
        width: 70%;
        height: auto;
        display: flex;
        flex-direction: column;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 10px;
        padding-left: 10px;
    }

    #dial_box
    {
        width: 100%;
        height: 100%;
        min-height: 200px;
        min-width: auto;
        background-color: #1d1f27;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        display: flex;
        justify-content: center;
    }

    #dial_area
    {
        height: auto;
        width: 100%;
        overflow: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #robot_box, #robot_load_box
    {
        height: auto;
        width: max-content;
        max-width: 70%;
        margin-right: auto;
        margin-top: 20px;
        margin-left: 20px;
    }
    #robot, #robot_load
    {
        padding: 10px;
        margin-left: 40px;
        font-size: 18px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        background-color: #3d3d3d;
    }
    
    .gif
    {
        height: 100%;
        max-height: 30px;
        width: auto;
    }

    #user_box
    {
        height: min-content;
        width: max-content;
        max-width: 70%;
        margin-right: 20px;
        margin-left: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    #user
    {
        padding: 10px;
        margin-right: 40px;

        font-size: 18px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        background-color: #3a58d3;
        
        display: flex;
        align-items: center;
    }

    #emot_talker
    {
        height: auto;
        width: auto;
        font-size: 30px;
    }

    #input_message
    {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        height: 100%;
        width: 100%;
        min-width: auto;
        max-height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        border-bottom-left-radius: 10px;
        background-color: rgb(51, 54, 65);
    }

    #user_text
    {
        width: 85%;
        height: 18px;

        resize: none;

        font-size: 16px;
        color: white;
        background-color: transparent;
        border: transparent;
        border-bottom-left-radius: 10px;

        overflow: hidden;
        outline: none;

        padding-left: 20px;
    }   

    #submit_button
    {
        background-color: #1d1f27;
        height: 100%;
        width: 15%;
        border-top: 1px solid #5c627a;
        border-left: 1px solid #5c627a;
        border-bottom: none;
        border-right: none;
    }

    #img_send
    {
        height: 95%;
        width: auto;
    }
}

@media all and (min-width: 320px) and (max-width: 768px) {
    html, body 
    {
        position: fixed;
        top: 0px;
        left: 0px;

        width: 100%;
        height: 100%;
        min-width: 320px;
        margin: 0;

        overflow: hidden;

        display: flex;
        flex-direction: column;
        align-content: center;

        background-color: #646470;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: white;
    }

    footer
    {
        display: none;
    }

    #right_column
    {
        width: 100%;
        height: 89%;

        display: flex;
        flex-direction: column;
        padding-top: 1%;
    }

    #dial_box
    {
        width: 100%;
        height: 90%;

        background-color: #1d1f27;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        display: flex;
        justify-content: center;
    }

    #dial_area
    {
        height: auto;
        width: 100%;
        overflow: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #robot_box, #robot_load_box
    {
        height: auto;
        width: max-content;
        max-width: 80%;
        margin-right: auto;
        margin-left: 5px;
    }
    #robot, #robot_load
    {
        padding: 10px;
        margin-left: 10px;
        font-size: 16px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        background-color: #3d3d3d;

    }
    .gif
    {
        height: 100%;
        max-height: 30px;
        width: auto;
    }

    #user_box
    {
        height: min-content;
        width: max-content;
        max-width: 80%;
        margin-right: 5px;
        margin-left: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    #user
    {
        padding: 10px;
        margin-right: 10px;

        font-size: 16px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
        background-color: #3a58d3;
        
        display: flex;
        align-items: center;
    }

    #emot_talker
    {
        height: auto;
        width: auto;
        font-size: 14px;
    }

    #input_message
    {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        height: 10%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-color: rgb(51, 54, 65);
    }

    #user_text
    {
        width: 85%;
        height: 16px;

        resize: none;

        font-size: 16px;
        color: white;
        background-color: transparent;
        border: transparent;
        border-bottom-left-radius: 10px;

        overflow: hidden;
        outline: none;

        padding-left: 20px;
    }   

    #submit_button
    {
        background-color: #1d1f27;
        height: 100%;
        width: 15%;
        border-top: 1px solid #5c627a;
        border-left: 1px solid #5c627a;
        border-bottom: none;
        border-right: none;
    }

    #img_send
    {
        height: 95%;
        width: 95%;
    }

    #left_column
    {
        width: 100%;
        height: 10%;

        display: flex;
        flex-direction: column;
        justify-content: center;

        background-color: #1d1f27;
    }
    header
    {
        height: 100%;
        width: auto;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    #img_title
    {
        height: 90%;
        max-height: 40px;
        width: auto;
    }
    #google_map_box
    {
        display: none;
    }

}
